.git
.gitignore
.venv
.cache
__pycache__
*.pyc
*.pyo
.pytest_cache
.mypy_cache
.ruff_cache
.python-version
.DS_Store
node_modules
README.md
Dockerfile
.dockerignore
docker-compose.yml
.streamlit/secrets.toml
